# Replicating 'Delivering Education to the Underserved through a Public-Private Partnership Program in Pakistan: A Randomized Controlled Study'

 This notebook contains the replication of
> Barrera-Osorio,Felipe & Blakeslee,David S.& Hoover, Matthew & Linden ,Leigh & Raju, Dhushyanth & Ryan ,Stephen P. , 2017. "Delivering education to the underserved through a public-private partnership program in Pakistan," Policy Research Working Paper Series 8177, The World Bank.

**Sources used to replicate the study can be found here : [code,data](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/UWXULC) and [paper](http://documents1.worldbank.org/curated/en/868011504015520701/pdf/WPS8177.pdf).**

**Information about navigating the notebook:**

* The notebook attempts to replicate the major results of the study. Tables and figures are labelled accordingly.
* I also add additional visualizations as seen fit to improve on the readability and lucidity of the study.
* Having originated from South Asia,I am also uniquely placed to enrich the paper with personal observations and interpretations of the results. They are accordingly marked.

## Table of Contents
* [Introduction](#first-bullet)
* [Second Bullet Header](#second-bullet)

In [1]:
library(tidyverse)
library(haven)
library(dplyr)
library(sandwich)
library(stargazer)
library(stargazer)
library(IRdisplay)
library(magrittr)
library(xtable)
library(broom)
library(kableExtra)

options(warn=-1) #options(warn=0) to turn warnings back on

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Please cite as:

 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.
 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer


Attaching package: 'magrittr'

The following object is masked from 'package:purrr':

    set_names

The following object is masked from 'package:tidyr':

    extract


Attaching package: 'xtable'

The following object is masked from 'package:IRdisplay':

    display

Warning message:
"package 'kableExtra' was built under R version 3.6.3"
Attaching package: 'kableExtra'

The following object is masked from 'package:dplyr':

    group_rows

**Importing Data**

In [2]:
child_data<- read_dta("data/ReStat_children.dta")
school_data<- read_dta("data/ReStat_schools.dta")

**Importing Functions to plot tables**

In [3]:
source("auxiliary/Table_functions.r")

In [4]:
Table_7(child_data)

Characteristics,Control,Treatment - Control,Female,Treatment,Treatment x Female
Civil Servant,0.123,0.006,-0.066 ***,0.014,-0.01
Doctor,0.109,0.055 ***,-0.031 .,0.067 ***,-0.024
Private Enterprise,0.013,0.003,-0.012 *,-0.001,0.009
Engineer,0.008,0.022 ***,0.002,0.029 ***,-0.016 *
Farmer,0.053,-0.038 ***,-0.077 ***,-0.063 ***,0.061 ***
Housewife,0.132,-0.055 ***,0.259 ***,-0.009,-0.121 ***
Laborer,0.011,-0.003,-0.006,-0.002,-0.002
Landlord,0.007,0.001,-0.008 *,0,0.002
Police/army/security,0.095,-0.015 *,-0.119 ***,-0.021 *,0.02
Teacher,0.28,0.058 ***,0.098 ***,0.028 .,0.056 *
Lawyer,0.008,0.004,-0.01 *,0.003,0.003
Raise Livestock,0.01,-0.003,0.005,0.002,-0.01 *
Ideal marriage age,18.751,0.125,-0.988 ***,0.135,0.079

**Table 2 Evaluation Sample Sizes**

In [5]:

Table_2(child_data)

Characteristics,Baseline Control,Baseline Treatment - Control,Followup Control,Followup Treatment - Control
Child age,6.898,-0.084,7.354,0.081 *
Female,0.366,0.058 **,0.424,0.03 *
Child in School,0.233,0.029 .,0.284,-0.027
Child of hh head,9.749,-0.673 ***,0.856,0.022 **
Household size,3.068,-0.293 ***,7.221,-0.097
Number of Children,2.665,0.19,4.755,-0.14 **
Household head education,0.709,-0.01,2.631,0.127
Household head farmer,NA,NA,0.562,-0.016
Total land,NA,NA **,4.229,0.898
Pukka house,NA,NA .,0.056,-0.004
Semi-Pukka house,NA,NA ***,0.192,-0.016 .
Kaccha house,NA,NA ***,0.510,0.085 ***
Thatched hut,NA,NA,0.242,-0.065 ***
Goat,NA,NA,3.915,-0.035
Sunni,NA,NA,0.877,0.034 ***
Urdu,NA,NA **,0.114,0.046 ***
Sindhi,NA,NA .,0.662,0.064 ***

**Table 8 Characteristics by School Type**

In [6]:

Table_8(school_data)

Characteristics,Program Schools,Program - Govt. Schools,Program - Pvt. Schools
Days operational,5.118,0.515,0.342
Open admission,0.859,-0.024,-0.072
Uniform required,0.024,0.024,-0.315
Tuition required,0.000,0.000,-0.443
Medium:Sindhi,0.613,-0.370,-0.024
Medium:English,0.309,0.309,-0.054
Total Teachers,3.781,0.940,-2.541
Female Teachers,1.988,1.451,-3.439
Post secondary,1.890,-0.454,-1.499
<5 yrs Experience,3.132,2.478,0.940
5-10 yrs Experience,0.603,0.406,-3.126
>10 yrs Experience,0.047,-1.986,-0.355
Avg teacher absent >= 2 days/month,0.394,-0.038,0.130
Building,0.960,0.023,-0.040
Number Classrooms,3.230,0.462,0.089
Sufficient desks,0.756,0.151,0.172
Drinking water,0.845,0.304,-0.155
Electricity,0.725,0.068,-0.052
Toilet,0.787,0.286,0.158
Number boys,88.684,18.724,-43.181
Number girls,71.343,30.585,-19.363
Percent female students,0.448,0.038,0.009
Student Teacher Ratio,44.274,0.264,6.000
Teacher absent days/month,0.838,-0.168,0.326
Teacher female,0.493,0.239,-0.002
Teacher age,25.169,-13.836,0.484
Education,10.968,-0.921,-0.835
Salary(1000 rupees),4.067,-11.517,0.250
Years teaching,2.781,-11.432,-0.685
Years teaching same school,1.769,-4.917,-0.937
Total,26.914,-1.233,-0.796
Teaching whole class,6.204,-0.480,-0.571
Teaching small group,5.540,0.365,-0.721
Teaching indiviual,5.468,-0.346,-0.804
Blackboard/dictation,5.171,0.249,-0.097
Classroom management,3.220,-0.279,0.042
Testing,3.205,0.442,1.128
Administrative,2.491,-0.340,0.854

**Table 4 Test Scores**

In [7]:
Table_4(child_data)

#### Table 6: Gender differential impacts by subsidy treatment

In [8]:
Table_6(child_data)